blinker
certifi
charset-normalizer
click
Flask
flask-cors
Flask-SQLAlchemy
greenlet
idna
instaloader
itsdangerous
Jinja2
MarkupSafe
requests
SQLAlchemy
typing_extensions
urllib3
Werkzeug

gunicorn==22.0.0
