<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <title>Baixar Imagens do Instagram</title>
  <meta name="description" content="O Instagram Photo Downloader é uma ferramenta que permite baixar fotos e imagens do Instagram online. A ferramenta definitiva para baixar imagens do IG.">
  <meta name="referrer" content="no-referrer">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=5.0, shrink-to-fit=no" name="viewport">
  <meta property="og:title" content="Baixar Imagens do Instagram">
  <meta property="og:description" content="O Instagram Photo Downloader é uma ferramenta que permite baixar fotos e imagens do Instagram online. A ferramenta definitiva para baixar imagens do IG.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sssinstagram.com/pt/photo-downloader">
  <meta property="og:image" content="https://sssinstagram.com/images/logo.png">
  <meta property="og:site_name" content="SSSInstagram">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Baixar Imagens do Instagram">
  <meta name="twitter:description" content="O Instagram Photo Downloader é uma ferramenta que permite baixar fotos e imagens do Instagram online. A ferramenta definitiva para baixar imagens do IG.">
  <meta name="twitter:image:src" content="https://sssinstagram.com/images/logo.png">
  <link rel="stylesheet" href="../css/app.css?id=e3865d7faf7474c351fee8554c71edc1">
  <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
  <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="48x48" href="../favicon/favicon-48x48.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">

  <link rel="manifest" href="../site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#472d4e">
  <meta name="theme-color" content="#472d4e">
  <link rel="apple-touch-icon-precomposed" href="../favicon/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../favicon/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../favicon/apple-touch-icon-76x76-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../favicon/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../favicon/apple-touch-icon-120x120-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../favicon/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../favicon/apple-touch-icon-152x152-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="../favicon/apple-touch-icon-180x180-precomposed.png">
  <link rel="icon" sizes="192x192" href="../favicon/android-chrome-192x192.png">
  <link rel="icon" sizes="512x512" href="../favicon/android-chrome-512x512.png">
  <link rel="canonical" href="photo-downloader.htm">
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@graph": [
      {
        "@type": "WebSite",
        "name": "sssInstagram",
        "alternateName": [
          "Instagram downloader",
          "sssInstagram",
          "sssInstagram APP",
          "sssInstagram.com"
        ],
        "url": "https://sssinstagram.com/"
      },
      {
        "@type": "Organization",
        "name": "sssInstagram",
        "alternateName": "Instagram downloader",
        "url": "https://sssinstagram.com/",
        "email": "support@sssinstagram.com",
        "logo": "https://sssinstagram.com/images/logo.svg"
      },
      {
        "@type": "WebApplication",
        "name": "sssInstagram",
        "alternateName": [
          "Instagram downloader",
          "sssInstagram",
          "sssInstagram APP",
          "sssInstagram.com"
        ],
        "url": "https://sssinstagram.com/",
        "image": "https://sssinstagram.com/images/download-online.png",
        "operatingSystem": "Windows, Linux, iOS, Android, OSX, macOS",
        "applicationCategory": "UtilitiesApplication",
        "featureList": [
          "Photo downloader",
          "Video Downloader",
          "Reel Downloader",
          "IGTV Downloader",
          "Gallery Downloader",
          "Story Downloader",
          "Highlights Downloader"
        ],
        "contentRating": "Everyone",
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "4.96",
          "reviewCount": "24973"
        },
        "offers": {
          "@type": "Offer",
          "price": "0"
        }
      }
    ]
  }
</script>
  <link rel="canonical" href="photo-downloader.htm">
      <link rel="alternate" hreflang="ar" href="https://sssinstagram.com/ar/photo-downloader">
      <link rel="alternate" hreflang="bn" href="https://sssinstagram.com/bn/photo-downloader">
      <link rel="alternate" hreflang="cs" href="https://sssinstagram.com/cs/photo-downloader">
      <link rel="alternate" hreflang="de" href="https://sssinstagram.com/de/photo-downloader">
      <link rel="alternate" hreflang="el" href="https://sssinstagram.com/el/photo-downloader">
      <link rel="alternate" hreflang="en" href="https://sssinstagram.com/photo-downloader">
      <link rel="alternate" hreflang="es" href="https://sssinstagram.com/es/photo-downloader">
      <link rel="alternate" hreflang="fa" href="https://sssinstagram.com/fa/photo-downloader">
      <link rel="alternate" hreflang="fr" href="https://sssinstagram.com/fr/photo-downloader">
      <link rel="alternate" hreflang="hi" href="https://sssinstagram.com/hi/photo-downloader">
      <link rel="alternate" hreflang="hu" href="https://sssinstagram.com/hu/photo-downloader">
      <link rel="alternate" hreflang="id" href="https://sssinstagram.com/id/photo-downloader">
      <link rel="alternate" hreflang="it" href="https://sssinstagram.com/it/photo-downloader">
      <link rel="alternate" hreflang="ja" href="https://sssinstagram.com/ja/photo-downloader">
      <link rel="alternate" hreflang="ko" href="https://sssinstagram.com/ko/photo-downloader">
      <link rel="alternate" hreflang="ms" href="https://sssinstagram.com/ms/photo-downloader">
      <link rel="alternate" hreflang="nl" href="https://sssinstagram.com/nl/photo-downloader">
      <link rel="alternate" hreflang="pl" href="https://sssinstagram.com/pl/photo-downloader">
      <link rel="alternate" hreflang="pt" href="photo-downloader.htm">
      <link rel="alternate" hreflang="ro" href="https://sssinstagram.com/ro/photo-downloader">
      <link rel="alternate" hreflang="ru" href="https://sssinstagram.com/ru/photo-downloader">
      <link rel="alternate" hreflang="sk" href="https://sssinstagram.com/sk/photo-downloader">
      <link rel="alternate" hreflang="sr" href="https://sssinstagram.com/sr/photo-downloader">
      <link rel="alternate" hreflang="sv" href="https://sssinstagram.com/sv/photo-downloader">
      <link rel="alternate" hreflang="th" href="https://sssinstagram.com/th/photo-downloader">
      <link rel="alternate" hreflang="tr" href="https://sssinstagram.com/tr/photo-downloader">
      <link rel="alternate" hreflang="uk" href="https://sssinstagram.com/uk/photo-downloader">
      <link rel="alternate" hreflang="vi" href="https://sssinstagram.com/vi/photo-downloader">
      <link rel="alternate" hreflang="zh" href="https://sssinstagram.com/zh/photo-downloader">
      <link rel="alternate" hreflang="x-default" href="https://sssinstagram.com/photo-downloader">
  </head>

<body>
<div id="app">
  <header class="header">
  <nav class="header__nav">
          <a class="header__logo" href="../pt.htm">
        <img src="../images/logo.svg" width="150" height="28" alt="Logo header">
      </a>
        <div class="header__lang">
      <button class="header__lang-btn">
        pt
      </button>
      <ul class="header__lang-menu">
                  <li>
                          <a href="https://sssinstagram.com/ar/photo-downloader">
                العربية
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/bn/photo-downloader">
                বাংলা
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/cs/photo-downloader">
                čeština
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/de/photo-downloader">
                Deutsch
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/el/photo-downloader">
                Ελληνικά
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/photo-downloader">
                English
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/es/photo-downloader">
                español
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/fa/photo-downloader">
                فارسی
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/fr/photo-downloader">
                français
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/hi/photo-downloader">
                हिन्दी
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/hu/photo-downloader">
                magyar
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/id/photo-downloader">
                Bahasa Indonesia
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/it/photo-downloader">
                italiano
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/ja/photo-downloader">
                日本語
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/ko/photo-downloader">
                한국어
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/ms/photo-downloader">
                Bahasa Melayu
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/nl/photo-downloader">
                Nederlands
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/pl/photo-downloader">
                polski
              </a>
                      </li>
                  <li>
                          <span>
                português
              </span>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/ro/photo-downloader">
                română
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/ru/photo-downloader">
                русский
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/sk/photo-downloader">
                slovenčina
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/sr/photo-downloader">
                Српски
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/sv/photo-downloader">
                svenska
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/th/photo-downloader">
                ไทย
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/tr/photo-downloader">
                Türkçe
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/uk/photo-downloader">
                українська
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/vi/photo-downloader">
                Tiếng Việt
              </a>
                      </li>
                  <li>
                          <a href="https://sssinstagram.com/zh/photo-downloader">
                简体中文
              </a>
                      </li>
              </ul>
    </div>
  </nav>
</header>

  <main>
      <section>
    <div class="form-block">
        <div class="form-block__wrapper">
            <nav class="pageTunerWrapper">
                <ul class="pageTunerWrapper__items">
                                                                        <li class="pageTunerWrapper__item">
                                <a href="video-downloader.htm">
                                    <img src="../images/form/video.svg" alt="Video-downloader" width="18" height="18">
                                    <span>Vídeo</span>
                                </a>
                            </li>
                                                                                                <li class="pageTunerWrapper__item">
                                <a disabled="true">
                                    <img src="../images/form/photo.svg" alt="Photo-downloader" width="18" height="18">
                                    <span>Foto</span>
                                </a>
                            </li>
                                                                                                <li class="pageTunerWrapper__item">
                                <a href="reels-downloader.htm">
                                    <img src="../images/form/reels.svg" alt="Reels-downloader" width="18" height="18">
                                    <span>Reels</span>
                                </a>
                            </li>
                                                                                                <li class="pageTunerWrapper__item">
                                <a href="story-saver.htm">
                                    <img src="../images/form/story.svg" alt="Story-saver" width="18" height="18">
                                    <span>História</span>
                                </a>
                            </li>
                                                                                                <li class="pageTunerWrapper__item">
                                <a href="highlights-downloader.htm">
                                    <img src="../images/form/highlights.svg" alt="Highlights-downloader" width="18" height="18">
                                    <span>Destaques</span>
                                </a>
                            </li>
                                                            </ul>
            </nav>
            <h1 id="form-h1">
                                    Baixar Fotos do Instagram
                            </h1>
            <form class="form search-form" onsubmit="return false">
  <div class="form__block">
    <label for="input">
      <input id="input" class="form__input" @input="handleInputChange" @paste="handleInputPaste" type="text" v-model="query" type="text" placeholder="Inserir link">
    </label>
    <div class="form__block-btn">
      <button class="btn-paste" @click="handlePasteButtonClick" type="button">
        <svg width="14" height="18" viewbox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.75 2.9625C4.75 2.505 4.90804 2.06624 5.18934 1.74274C5.47064 1.41924 5.85218 1.2375 6.25 1.2375H7.75C8.14782 1.2375 8.52936 1.41924 8.81066 1.74274C9.09196 2.06624 9.25 2.505 9.25 2.9625M4.75 2.9625H3.25C2.85218 2.9625 2.47064 3.14424 2.18934 3.46774C1.90804 3.79124 1.75 4.23 1.75 4.6875V15.0375C1.75 15.495 1.90804 15.9338 2.18934 16.2573C2.47064 16.5808 2.85218 16.7625 3.25 16.7625H10.75C11.1478 16.7625 11.5294 16.5808 11.8107 16.2573C12.092 15.9338 12.25 15.495 12.25 15.0375V4.6875C12.25 4.23 12.092 3.79124 11.8107 3.46774C11.5294 3.14424 11.1478 2.9625 10.75 2.9625H9.25H4.75ZM4.75 2.9625C4.75 3.41999 4.90804 3.85875 5.18934 4.18225C5.47064 4.50576 5.85218 4.6875 6.25 4.6875H7.75C8.14782 4.6875 8.52936 4.50576 8.81066 4.18225C9.09196 3.85875 9.25 3.41999 9.25 2.9625H4.75Z" stroke="#383838" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <span>Colar</span>
      </button>
      <button class="btn-clear" @click="handleClearButtonClick" style="display: none" type="reset">
        <svg height="14px" width="14px" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512">
          <path fill="#4a4a4a" d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"></path>
        </svg>
        <span>Limpe</span>
      </button>
    </div>
  </div>
  <button @click="handleSearchButtonClick" type="submit" :disabled="disabled" class="form__submit">
    Baixar
  </button>
</form>
            <div class="search-result">
  <output-component v-if="data" :query-type="queryType" :data="data" :is-ig-avatar-page="isIgAvatarPage" @too-many-requests="handleTooManyRequests" @require-captcha="handleRequireCaptcha"></output-component>
  <loader-component :is-loading="isLoading" :query-type="queryType"></loader-component>
  <captcha-component v-if="isShowCaptcha" @success-submit="handleSuccessSubmitCaptcha" @hide="handleHideCaptcha"></captcha-component>
  <error-component v-if="isError" :message="errorMessage"></error-component>
</div>
        </div>
    </div>
</section>
  <section class="info">
  <div class="container">
    <div class="info__text-block">
      <h2 class="info__text-block-title">Baixar Imagens do Instagram</h2>
      <p class="info__text-block-text">O Instagram Photo Downloader é uma ferramenta que permite baixar fotos e imagens do Instagram online. A ferramenta definitiva para baixar imagens do IG.</p>
    </div>
          <img class="info-logo" src="../images/ilogo.png?v=2" width="324" height="324" alt="Instagram downloader">
      </div>
</section>
  <div class="howto">
  <div class="background-border">
    <div class="container">
      <h2 class="howto-title">Como baixar uma foto do Instagram?</h2>
      <ul class="howto__list">
                  <li class="howto__element">
            <h3 class="howto__element-title-h3">1. Copie o URL</h3>
            <p class="howto__element-text">Abra o aplicativo ou site do Instagram, vá até a foto ou imagem que você deseja baixar. Copie o URL.</p>
          </li>
                  <li class="howto__element">
            <h3 class="howto__element-title-h3">2. Cole o link</h3>
            <p class="howto__element-text">Volte ao site do SSSInstagram, cole o link no campo de entrada no topo da página e clique no botão &quot;Baixar&quot; para iniciar o download.</p>
          </li>
                  <li class="howto__element">
            <h3 class="howto__element-title-h3">3. Baixar Foto</h3>
            <p class="howto__element-text">Revise os resultados e encontre o arquivo que deseja baixar. Clique no botão &quot;Baixar&quot;. Pronto! O arquivo foi salvo no seu dispositivo.</p>
          </li>
              </ul>
    </div>
  </div>
</div>
  <div class="features">
  <h2 class="features-title">Instagram Photo Downloader</h2>
  <div class="features__list">
          <div class="features__element">
        <img src="../images/downloader/photo.svg" width="230" height="230" loading="lazy" alt="photo">
        <div class="features__element-info">
                      <h3 class="features__element-title-h3">Baixar Fotos do Instagram</h3>
                    <div class="features__element-text-block">
                          <p class="features__element-text">
                Deixe de lado todas as suas preocupações sobre como baixar fotos do Instagram com o nosso Instagram Photo Downloader! Com apenas um clique, você obtém a melhor qualidade de imagem no link original da foto, sem necessidade de redimensionamento.
              </p>
                                    </div>
        </div>
      </div>
          <div class="features__element">
        <img src="../images/downloader/carousel.svg" width="230" height="230" loading="lazy" alt="carousel">
        <div class="features__element-info">
                      <h3 class="features__element-title-h3">Baixar Carrossel</h3>
                    <div class="features__element-text-block">
                          <p class="features__element-text">
                👉🏻 Baixe publicações de Carrossel do Instagram com facilidade! O Carrossel Downloader para Instagram é sua ferramenta ideal para baixar essas publicações importantes. Nunca mais se preocupe em perder uma publicação de carrossel!
              </p>
                                    </div>
        </div>
      </div>
      </div>
</div>
  <div class="download-mobile-app">
  <div class="background-border">
    <div class="container">
      <div class="download-mobile-app__image-container">
        <img src="../images/mobile.svg" width="414" height="332" alt="Download with mobile app">
      </div>
      <div class="download-mobile-app__info">
        <h3 class="download-mobile-app__info-title-h3">Baixar com o aplicativo móvel</h3>
        <p class="download-mobile-app__info-text">Somente para Android: Baixe fotos, vídeos, reels e IGTV com um clique! Nosso app oferece downloads rápidos e em alta resolução, sem marcas d&#039;água, sendo a escolha ideal para baixar conteúdo do Instagram.</p>
        <a href="../download/apk/download_helper_2.3.28.apk" target="_blank" rel="noopener noreferrer" class="download-mobile-app__info-button">
          <img src="../images/ic-download.svg" width="24" height="24" alt="Click download">
          <span>Instalar agora</span>   
        </a>
      </div>
    </div>
  </div>
</div>
  <div class="faq" itemscope="" itemtype="https://schema.org/FAQPage">
  <h2>FAQ</h2>
  <div class="faq__list">
          <div class="faq__element" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="background-border">
          <div id="faq__element-answer-1" class="faq__element-question">
            <h3 itemprop="name">É legal baixar fotos do Instagram usando o SSSInstagram?</h3>
            <img class="faq__element-arrow-button" src="../images/arrow.svg" width="24" height="24" alt="arrow">
          </div>
        </div>
        <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <p itemprop="faq__element-text" class="faq__element-answer-1 faq__element-answer">Embora a ferramenta permita que você salve facilmente fotos do Instagram, é importante respeitar as leis de direitos autorais e os termos de serviço do Instagram. Sempre obtenha permissão do proprietário da foto antes de baixar e usar seu conteúdo.</p>
        </div>
      </div>
          <div class="faq__element" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="background-border">
          <div id="faq__element-answer-2" class="faq__element-question">
            <h3 itemprop="name">Preciso de uma conta no Instagram para baixar fotos com esta ferramenta?</h3>
            <img class="faq__element-arrow-button" src="../images/arrow.svg" width="24" height="24" alt="arrow">
          </div>
        </div>
        <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <p itemprop="faq__element-text" class="faq__element-answer-2 faq__element-answer">Não, você não precisa de uma conta no Instagram para usar nosso Downloader. Você só precisa da URL da foto ou imagem do Instagram que deseja baixar.</p>
        </div>
      </div>
          <div class="faq__element" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="background-border">
          <div id="faq__element-answer-3" class="faq__element-question">
            <h3 itemprop="name">Posso baixar as fotos em alta resolução?</h3>
            <img class="faq__element-arrow-button" src="../images/arrow.svg" width="24" height="24" alt="arrow">
          </div>
        </div>
        <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <p itemprop="faq__element-text" class="faq__element-answer-3 faq__element-answer">Sim, o IG Downloader foi projetado para baixar fotos na maior resolução disponível no Instagram.</p>
        </div>
      </div>
          <div class="faq__element" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="background-border">
          <div id="faq__element-answer-4" class="faq__element-question">
            <h3 itemprop="name">É seguro usar o SSSInstagram?</h3>
            <img class="faq__element-arrow-button" src="../images/arrow.svg" width="24" height="24" alt="arrow">
          </div>
        </div>
        <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <p itemprop="faq__element-text" class="faq__element-answer-4 faq__element-answer">Sim, nosso Instagram Photo Downloader é seguro de usar. Ele não requer nenhuma informação pessoal ou detalhes de login de conta.</p>
        </div>
      </div>
      </div>
</div>
  </main>
  <footer>
  <nav>
    <ul>
              <li>
                      <a href="video-downloader.htm" target="_self">Baixar Video</a>
                  </li>
              <li>
                      <span>Baixar Fotos</span>
                  </li>
              <li>
                      <a href="reels-downloader.htm" target="_self">Baixar Reels</a>
                  </li>
              <li>
                      <a href="story-saver.htm" target="_self">Baixar Historias</a>
                  </li>
              <li>
                      <a href="highlights-downloader.htm" target="_self">Baixar Destaques</a>
                  </li>
          </ul>
    <ul>
      <li>
                  <a href="how-to-download-instagram-pictures.htm" target="_self">Como baixar fotos do Instagram</a>
              </li>
      <li>
                  <a href="how-to-download-instagram-videos.htm" target="_self">Como baixar videos do Instagram</a>
              </li>
    </ul>
    <ul>
      <li>
                  <a href="about.htm" target="_self">Cerca de</a>
              </li>
      <li>
                  <a href="privacy.htm" target="_self">Politica de Privacidade</a>
              </li>
    </ul>
    <div class="logo-wrapper">
              <a class="logo-wrapper-a" href="../pt.htm" dir="ltr">
          <img src="../images/logo.svg" width="150" height="28" alt="Logo footer">
        </a>
          </div>
    <div class="years">
      2018 - 2025
    </div>
  </nav>
</footer>
</div>
<!--Google tag Manager -->
<script async="" src="../gtag/js?id=G-KDHKH4GDQE"></script>
<script>
  window.dataLayer = window.dataLayer || []

  function gtag() {
    dataLayer.push(arguments)
  }

  gtag("js", new Date())

  gtag("config", "G-KDHKH4GDQE")
</script>
<!-- End Google Tag Manager -->
<script async="" src="../pagead/js/f.txt?client=ca-pub-8862570496373129" crossorigin="anonymous"></script>
<script async="" src="../js/app.js?id=fa0ddc2d8c8f5884afb9695b2f44d7ba"></script>
<style>
  ins.adsbygoogle[data-ad-status="unfilled"] {
    display: none !important;
  }
  ins.adsbygoogle-template[data-ad-status="filled"] {
    margin: 10px 0;
  }
</style>
</body>
</html>

